@using GeekHunters.GRS.BusinessModels;

<div class="k-content wide">
    <table style="width:100%;">
        <tr>
            <td style="width:15%;">Filter by Skills : </td>
            <td style="width:100%;">
                <select id="skillsCollection" class="filter-candidate-multiselect" multiple="multiple" data-placeholder="Filter by Skills" style="width: 100%;">

                    @foreach (SkillModel skill in ViewBag.SkillCollection)
                    {
                        <option value="@skill.ID">@skill.Name</option>
                    }
                </select>
            </td>
            <td style="width:20%;">
                <button class="k-button filter-candidate-btn" id="get">Filter</button>
            </td>
        </tr>
    </table>
</div>

<div style="margin-top:50px;" id="candidateListView">
    @{
        Html.RenderAction("GetCandidateListView", "Home", new { skillIdCollection = Enumerable.Empty<int>(), pageNumber = 0 });
    }
</div>