@model GeekHunters.GRS.Web.ViewModels.Home.GeekRegistrationModel

<div class="candidate-register-window">
    <form id="candidate-reg-form">
        <table style="width:100%">
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>First Name : </td>
                <td>
                    <input type="text" name="firstName" class="k-textbox" id="firstName" placeholder="Enter First Name" required validationMessage="Enter First Name">
                </td>
            </tr>
            <tr>
                <td>Last Name : </td>
                <td>
                    <input type="text" name="lastName" class="k-textbox" id="lastName" placeholder="Enter Last Name" required validationMessage="Enter Last Name">
                </td>
            </tr>
            <tr>
                <td>Skills</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    @foreach (var skill in Model.SkillCollection)
                    {
                        <button class="k-button candidate-skill-btn" data-id="@skill.ID">@skill.Name</button>
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="candidate-register-btn candidate-register-registerbtn k-button k-primary">Register</button>
                    <button class="candidate-register-btn candidate-register-cancelbtn k-button">Cancel</button>
                </td>
            </tr>
        </table>
    </form>
</div>